<div class="page-header">
	<h3>About Kyckster</h3>
</div>
<div style="height: auto;">

	<div class="row">
		<!-- Left Column -->
		<div class="col-md-10" style="padding-right: 0px;">

			<div class="row margin-bottom-10px margin-top-20px">
				<div class="col-md-4 searchFieldLabel">
					<label for="version" class="newton-label">Build Version </label>
				</div>
				<div class="col-md-7" style="padding: 0px;">
					<label for="versionData" class="newton-label">{{serverVersion}}
					</label>
				</div>

			</div>
			<div class="row margin-bottom-10px margin-top-20px">
				<div class="col-md-4 searchFieldLabel">
					<label for="installDate" class="newton-label">Install Date
					</label>
				</div>
				<div class="col-md-7" style="padding: 0px;">
					<label for="installDateData" class="newton-label">{{serverTimeStamp | date:'medium'}}
					</label>
				</div>

			</div>
			<div class="row margin-bottom-10px margin-top-20px">
				<div class="col-md-4 searchFieldLabel">
					<label for="currentDate" class="newton-label">Current Date
					</label>
				</div>
				<div class="col-md-7" style="padding: 0px;">
					<label for="currentDateData" class="newton-label">{{currentDate | date:'medium'}}
					</label>
				</div>
			</div>
			<div class="row margin-bottom-10px margin-top-20px">
				<div class="col-md-4 searchFieldLabel">
					<label for="installDate" class="newton-label">Description
					</label>
				</div>
				<div class="col-md-7" style="padding: 0px;">
					<label for="installDateData" class="newton-label">
					<h4>Kyckster - Content Personalized</h4> 
					Put what you Know about Your Clients to work. Find compelling and personalized content that they want to see and you want to discuss with them.
					</label>
				</div>

			</div>

		</div>
	</div>

<div  class='avia-video avia-video-16-9  '  itemprop="video" itemtype="https://schema.org/VideoObject" ><div class='avia-iframe-wrap'><iframe width="840" height="370" src="http://www.youtube.com/embed/74jsSqQ6hjo?feature=oembed" frameborder="0" allowfullscreen></iframe></div></div>
</div>