<div class="roundbox-outer">
	<div class="roundbox-title">
		<div class="buttons pull-right">
			<a href="" class="btn" id="searchData"
				ng-click="search(searchCriteria.selectedOrderType.name)"><span
				class="text" style="font-size: 14px; padding-left: 5px;">Search</span>
			</a>
		</div>
		<ul class="nav nav-tabs">
			<!--  
			<li id="tasksTab" class="">
				<a ui-sref="results.tasks"
				   ng-model="table1open"
				   data-toggle="tab" 
				   data-target="#tab1"
				   ng-click="searchCriteria.selectedOrderType = searchOrderTypes[0]; clearUSRPData();">Tasks</a>
			</li>
		-->
			<li id="ordersTab" class=""><a ui-sref="results.orders"
				ng-model="orderTabLabel" data-toggle="tab" data-target="#tab3"
				ng-click="searchCriteria.selectedOrderType = searchOrderTypes[0]; clearUSRPData();">Service
					Orders</a></li>
			<li id="srTab" class="active"><a ui-sref="results.sr"
				ng-model="srTabLabel" data-toggle="tab" data-target="#tab4" 
				ng-click="searchCriteria.selectedOrderType = searchOrderTypes[1]; clearSRCriteria();">{{srTabLabel}}</a></li>
			<li id="crTab" class=""><a ui-sref="results.cr"
				ng-model="crTabLabel" data-toggle="tab" data-target="#tab5"
				ng-click="searchCriteria.selectedOrderType = searchOrderTypes[2]; clearCRCriteria();">Customer
					Requests</a></li>
		</ul>
	</div>

	<div class="roundbox-content tab-content">

		<div id="tab4" class="tab-pane active">
		
			<accordion>
				<div class="row panel-collapse collapse"
					collapse="resultsets.SR.isCriteriaCollapsed" style="margin-left: 15px;">
	
					<div class="row"
						style="border-bottom: solid; padding-bottom: 1%; padding-top: 1%; border-width: 1px; color: rgb(158, 158, 158);">
	
						<div class="col-lg-4 col-md-5 col-sm-6">
							<div class="col-lg-5 col-md-6 col-sm-5"
								style="padding-left: 0px; padding-right: 0px; text-align: right;">
								<label for="" class="newton-label" style="">My Saved
									Searches</label>
							</div>
							<div class="col-lg-7 col-md-6 col-sm-7">
								<div class="dropdown" style="width: 100%;">
									<select class="dropdown-select form-control"
										ng-model="srSearch.mySavedSearches"
										ng-options="s.search for s in srSavedSearchList" ng-change=""
										style="width: 100%;"></select>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6" style="padding-left: 0px;">
							<button type="button" class="btn btn-default"
								style="margin-top: -1px;" data-toggle="modal"
								data-target="#srSaveSearchModal">Save Search</button>
						</div>
	
					</div>
	
					<!-- Modal for Save Search -->
					<div class="modal fade" id="srSaveSearchModal" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Save Search</h4>
								</div>
								<div class="modal-body">
	
									<div class="row">
										<div class="col-md-3">
											<label for="saveSearchAs" class="newton-label">Save
												Search As</label>
										</div>
										<div class="col-md-6">
											<input type="text" ng-model="srSearch.saveSearch"
												class="form-control">
										</div>
									</div>
									<div class="row" style="margin-top: 10px;">
										<div class="col-md-3">
											<label for="shareSavedSearch" class="newton-label">Shared
												Saved Search</label>
										</div>
										<div class="col-md-4">
											<input type="radio" name="Yes" value=""><label>Yes</label>
											<input type="radio" name="No" value=""><label>No</label>
										</div>
									</div>
	
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Save</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
	
					<div class="row">
	
						<!-- Left Column -->
						<div class="col-lg-6 col-md-6 search-left-column">
	
							<!-- Site Request Type
										 Values:  (NX SR Id, Opportunity Id, SOR Id, EFMS CR Id, EFMS SR Id)
									 -->
							<div class="row margin-bottom-10px margin-top-20px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
								
								    <div ng-switch on="lcmTeamIndicator">
										<div ng-switch-when="true">
											<label for="requestIdentifier" class="newton-label">NextGen
										Service Request ID</label>
										</div>
										<div ng-switch-when="false">
											<label for="requestIdentifier" class="newton-label">OCX
										Site Request ID</label>
										</div>
									</div>
									
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<input type="text" ng-model="srSearch.serviceRequestId"
										class="form-control">
								</div>
							</div>
	
	
							<div class="row margin-bottom-10px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
								
								    <div ng-switch on="lcmTeamIndicator">
										<div ng-switch-when="true">
											<label for="statusSiteRequestType" class="newton-label">NextGen
										Service Request Status</label>
										</div>
										<div ng-switch-when="false">
											<label for="statusSiteRequestType" class="newton-label">OCX
										Site Request Status</label>
										</div>
									</div>
									
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control" ng-model="srSearch.srStatus"
											ng-options="s.name for s in srStatusList" ng-change=""
											style="width: 100%;"><option style="display:none" value=""></option></select>
									</div>
								</div>
							</div>
	
							<div class="row margin-bottom-10px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="associatedId" class="newton-label">Associated
										Identifiers</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control"
											ng-model="srSearch.srAssociatedIdType"
											ng-options="s.name for s in srAssociatedIdList" ng-change=""
											style="width: 100%;"><option style="display:none" value=""></option></select>
									</div>
								</div>
							</div>
	
							<!-- Request Identifier - Optional field -->
							<div class="row margin-bottom-10px"
								ng-show="srSearch.srAssociatedIdType.name !== ''">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="requestIdentifier" class="newton-label">{{srSearch.srAssociatedIdType.name}}</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<input type="text" ng-model="srSearch.srAssociatedId"
										class="form-control">
								</div>
							</div>
	
							<!-- Customer Name -->
							<div class="row margin-bottom-10px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="customerName" class="newton-label">Customer
										Name</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<input type="text" ng-model="srSearch.customerName"
										class="form-control">
								</div>
							</div>
	
							<!-- Site Attribute
										 Values:  NULL, Site Region, Site Name, Site City 
									-->
							<div class="row margin-bottom-10px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="srSiteAttribute" class="newton-label">Site
										Attribute</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control"
											ng-model="srSearch.srSiteAttribute"
											ng-options="s.name for s in srSiteAttributeList" ng-change=""
											style="width: 100%;"><option style="display:none" value=""></option></select>
									</div>
								</div>
							</div>
	
	
							<!--  <div class="row margin-bottom-10px" ng-show="showRegionForSR()"> -->
							<div class="row margin-bottom-10px"
								ng-show="srSearch.srSiteAttribute.name === 'Site Region'">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="srSiteAttributeSelection" class="newton-label">{{srSearch.srSiteAttribute.name}}</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control"
											ng-model="srSearch.srSiteRegion"
											ng-options="s.name for s in srSiteRegionList" ng-change=""
											style="width: 100%;"><option style="display:none" value=""></option></select>
									</div>
								</div>
							</div>
	
							<!--  <div class="row margin-bottom-10px" ng-show="showNameCityForSR()"> -->
							<div class="row margin-bottom-10px"
								ng-show="srSearch.srSiteAttribute.name === 'Site Name' || srSearch.srSiteAttribute.name === 'Site City'">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="orderOwner" class="newton-label">{{srSearch.srSiteAttribute.name}}</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<input type="text" ng-model="srSearch.srSiteNameCity"
										class="form-control">
								</div>
							</div>
	
							<!-- Site State/Province - Optional
										 Values:  All US States (2-char ISO code) including territories and all Canadian Provinces (2-Char ISO code), NULL
									-->
							<div class="row margin-bottom-10px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="srSiteStateProvince" class="newton-label">Site
										State/Province</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control" ng-model="srSearch.srSiteState"
											ng-options="s.name for s in srSiteStateList | orderBy:'name'"
											ng-change="" style="width: 100%;"><option style="display:none" value=""></option></select>
									</div>
								</div>
							</div>
	
							<!-- Site Country
										 Values:  NULL, 2-char ISO code for all countries
									-->
							<div class="row margin-bottom-10px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="srSiteCountry" class="newton-label">Site
										Country</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control"
											ng-model="srSearch.srSiteCountry"
											ng-options="s.name for s in srSiteCountryList" ng-change=""
											style="width: 100%;"><option style="display:none" value=""></option></select>
									</div>
								</div>
							</div>
	
						</div>
	
						<!-- Right Column -->
						<div class="col-lg-6 col-md-6 search-right-column">
	
							<!-- Date Selection -->
							<div class="row margin-bottom-10px margin-top-20px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="dateSelection" class="newton-label">Date
										Selection</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control"
											ng-model="srSearch.srDateSelection"
											ng-options="s.name for s in srDateSelectionList" ng-change=""
											style="width: 100%;"><option style="display:none" value=""></option></select>
									</div>
								</div>
							</div>
	
							<!-- Selected Date Type -->
							<!-- <div class="row margin-bottom-10px" ng-show="showDateForSR()"> -->
							<div class="row margin-bottom-10px"
								ng-show="srSearch.srDateSelection.name !== ''">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="srDate" class="newton-label">{{srSearch.srDateSelection.name}}</label>
								</div>
								<div class="col-lg-8 col-md-7 col-sm-12 col-xs-12"
									style="padding: 0px; display: inline-table;">
									<div class="col-md-6 newton-datepicker-from">
										<div class="input-group date" id="srSDate"
											data-date="{{startDate}}" data-date-format="mm/dd/yyyy">
											<input type="text" id="srStartDate" class="form-control"
												ng-model="srSearch.sDate" bootstrap-datepicker
												placeholder="From"> <span
												class="input-group-addon add-on"><i
												class="fa fa-calendar"></i><span ng-click="pickSrStartDate()"></span></span>
										</div>
									</div>
									<div class="col-md-6 newton-datepicker-to">
										<div class="input-group date" id="srEDate"
											data-date="{{endtDate}}" data-date-format="mm/dd/yyyy">
											<input type="text" id="srEndDate" class="form-control"
												ng-model="srSearch.eDate" bootstrap-datepicker
												placeholder="To"> <span
												class="input-group-addon add-on"><i
												class="fa fa-calendar"></i><span ng-click="pickSrEndDate()"></span></span>
										</div>
									</div>
								</div>
							</div>
	
							<div ng-show="wrongSrStartDateEntered">
								<div class="row margin-bottom-10px margin-top-20px">
									<div class="col-md-3"></div>
									<div class="col-md-8" style="padding: 0px; margin: 0px;">
										<span style="color: red;">Start Date must be earlier
											than End Date</span>
									</div>
								</div>
							</div>
	
							<div ng-show="wrongSrEndDateEntered">
								<div class="row margin-bottom-10px margin-top-20px">
									<div class="col-md-3"></div>
									<div class="col-md-8" style="padding: 0px; margin: 0px;">
										<span style="color: red;">End Date must be later than
											Start Date</span>
									</div>
								</div>
							</div>
	
							<!-- MCN Triplet-->
							<div class="row margin-bottom-10px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="mcnTriplet" class="newton-label">MCN Triplet</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control"
											ng-model="srSearch.mcnTripletType"
											ng-options="m.name for m in mcnTripletList"
											style="width: 100%;"><option style="display:none" value=""></option>
										</select>
									</div>
								</div>
							</div>
	
							<!-- MCN/GRC/SOC -->
							<div class="row margin-bottom-10px" ng-show="srSearch.mcnTripletType.name !== ''">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="mcnGrcSoc" class="newton-label">{{srSearch.mcnTripletType.name}}</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<input type="text" ng-model="srSearch.mcn" class="form-control"
										style="width: 50%; display: inline-block;"> <input
										type="text" ng-model="srSearch.grc" class="form-control"
										style="width: 26%; display: inline-block;"> <input
										type="text" ng-model="srSearch.soc" class="form-control"
										style="width: 20%; display: inline-block;">
								</div>
							</div>
	
	
							<!-- Product Offering-->
							<div class="row margin-bottom-10px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="srProductOffering" class="newton-label">Product
										Offering</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control"
											ng-model="srSearch.productOffering"
											ng-options="p.name for p in productOfferingList"
											style="width: 100%;"><option style="display:none" value=""></option>
										</select>
									</div>
								</div>
							</div>
	
	
	
		                    <!-- In Jeopardy 
										 	 Values: (NULL, Yes) -->
							<div class="row margin-bottom-10px">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="srJeopardy" class="newton-label">In Jeopardy</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control" ng-model="srSearch.inJeopardy"
											ng-options="j.name for j in jeopardyList" ng-change=""
											style="width: 100%;"><option style="display:none" value=""></option></select>
									</div>
								</div>
							</div>
						
	
							<!-- Strata
										 Values: (NULL, Government, Retail, Wholesale)
									-->
							<div class="row margin-bottom-10px" ng-show="lcmTeamIndicator">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="srMarketStrata" class="newton-label">Strata</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<div class="dropdown" style="width: 100%;">
										<select class="dropdown-select form-control"
											ng-model="srSearch.srMarketStrata"
											ng-options="s.name for s in srMarketStrataList" ng-change=""
											style="width: 100%;"><option style="display:none" value=""></option></select>
									</div>
								</div>
							</div>
	
	
							
							<!-- Order Owner - Optional field -->
							<div class="row margin-bottom-10px" ng-show="lcmTeamIndicator">
								<div class="col-lg-4 col-md-5 searchFieldLabel">
									<label for="orderOwner" class="newton-label">Order Owner</label>
								</div>
								<div class="col-lg-7 col-md-7" style="padding: 0px;">
									<input type="text" ng-model="srSearch.orderOwner"
										class="form-control" placeholder="Enter ATTUID">
								</div>
							</div>
	
						</div>
					</div>
					<!-- criteria -->
	
					<!-- Begin section for table results -->
	
					<!--
					Setup the arrow that controls the expansion of the criteria div
					Uses bootstrap data-toggle/data-target and angular's ng-show to determine if it should even be visible
					Arrow is now controlled by model state and no longer needs controller DOM manipulation via 	ng-click="updateSearchArrowIcon($event)"
				-->
					
				</div>
				<a class="criteriaCollapser accordion-toggle"
					ng-show="shouldCollapserBeVisible('SR')"
					ng-click="resultsets.SR.isCriteriaCollapsed = !resultsets.SR.isCriteriaCollapsed"				
					title="Expand or collapse search criteria">
					<span class="icon">
						<i ng-class="(resultsets.SR.isCriteriaCollapsed) ? 'fa fa-arrow-down' : 'fa fa-arrow-up'"></i>
					</span>
				</a>
			</accordion>

			<div
				us-spinner="{radius:9, width:5, length: 12, corners: 1, top: '-15px;', left: 'auto', className: 'spinner'}"></div>

			<alert-with-html data-error-prefix="<strong>Error: </strong>"
				data-error-msg="resultsets.SR.searchRequestErrorMsg"
				data-error-msg-html="resultsets.SR.searchRequestErrorMsgHtml"></alert-with-html>

				<!--
				This table used to also have the table-bordered class but that caused only FireFox to draw the table
				with miscalculate the table widths causing a horizontal scrollbar to always appear and the table width
				to continually increase by a few pixels each time it was redrawn.  Rather than fix the table's code
				just take the class (which only seems to affect style) out.
			 -->
			<table class="table table-striped table-hover data-table"
				id="resultsTableSR" search-result-table="resultsSR"
				table-data="resultsets['SR'].resultData"
				fire-detail="getDetailsResult(orderType,id)">
			</table>

		</div> <!-- tab4 -->
		
	</div> <!-- roundbox content -->

			<!-- Modal - Error Message -->

	<div class="modal fade" id="searchCriteriaAlertModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Search Criteria Error</h4>
				</div>
				<div class="modal-body">
					<p>Please Select Search Criteria values...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

</div>
