<div class="roundbox-outer">
	<div class="roundbox-title">
		<div class="buttons pull-right">
			<a href="" class="btn" id="searchData"
				ng-click="search(searchCriteria.selectedOrderType.name)"><span
				class="text" style="font-size: 14px; padding-left: 5px;">Search</span>
			</a>
		</div>
		<ul class="nav nav-tabs">
			<li id="tasksTab" class="active">
				<a ui-sref="results.tasks"
				   ng-model="table1open"
				   data-toggle="tab" 
				   data-target="#tab1"
				   ng-click="searchCriteria.selectedOrderType = searchOrderTypes[0]; clearUSRPData();">Tasks</a>
			</li>			
			<li id="serviceOrdersTab" class="">
				<a ui-sref="results.serviceorders"
				   ng-model="table1open"
				   data-toggle="tab" 
				   data-target="#tab2"
				   ng-click="searchCriteria.selectedOrderType = searchOrderTypes[0]; clearUSRPData();">Service Orders</a>
			</li>
			<li id="ordersTab" class="">
				<a ui-sref="results.orders"
				   ng-model="table1open"
				   data-toggle="tab" 
				   data-target="#tab3"
				   ng-click="searchCriteria.selectedOrderType = searchOrderTypes[0]; clearUSRPData();">USRP Orders</a>
			</li>
			<li id="srTab" class="">
				<a ui-sref="results.sr"
				   ng-model="table2open"
				   data-toggle="tab" 
				   data-target="#tab4"
				   ng-click="searchCriteria.selectedOrderType = searchOrderTypes[1]; clearSRCriteria();">Service Requests</a>
			</li>
			<li id="crTab" class="">
				<a ui-sref="results.cr"
				   ng-model="table3open"
				   data-toggle="tab" 
				   data-target="#tab5"
				   ng-click="searchCriteria.selectedOrderType = searchOrderTypes[2]; clearCRCriteria();">Customer Requests</a>
			</li>
		</ul>
	</div>
	
	<div class="roundbox-content tab-content" style="font-size: 12px;">

		<div id="tab1" class="tab-pane active">
		
		<accordion>
			<div class="row panel-collapse collapse"
				collapse="resultsets.SR.isCriteriaCollapsed" style="margin-left: 15px;">
				
				<div class="row" style="border-bottom: solid; padding-bottom: 1%; padding-top: 1%; border-width: 1px; color: rgb(158, 158, 158);">

						<div class="col-md-4">
							<div class="col-md-6" style="padding-left: 0px;">
								<label for="nxSrId" class="newton-label">My Saves Task Searches</label>
							</div>
							<br>
								<input type="text" ng-model="srSearch.nxSrId"
									class="form-control">
						</div>
						<div class="col-md-4">
							<div class="col-md-6" >
								<label for="" class=""></label>								
							</div>
							<br>
							<div class="col-md-5 searchFieldLabel" style="padding-left: 0px;">
								<label for="shareSavedSearch" class="newton-label">Save Search As</label>
							</div>
							<div class="col-md-7">
								<input type="text" ng-model="srSearch.nxSrId"
									class="form-control">
							</div>
						</div>
						<div class="col-md-4">
							<div class="col-md-6" ></div>
							<br>
							<div class="col-md-8 searchFieldLabel" style="padding-left: 0px;">
								<label for="shareSavedSearch" class="newton-label">Shared Saved Search?</label>
								<input type="radio" name="Yes" value=""><label>Yes</label>
								<input type="radio" name="No" value=""><label>No</label>
							</div>	
							<div class="col-md-4">
								<button type="button" class="btn btn-default">Save Query</button>
							</div>																			
						</div>
				</div>
				
				<div class="row">
				
					<!-- Left Column -->
					<div class="col-md-3">

					<!-- Task Type -->
					<div class="row margin-bottom-10px margin-top-20px">
						<div class="col-lg-4 col-md-5 searchFieldLabel" style="padding-left: 0px;">
							<label for="nxSrId" class="newton-label">Task Type</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px; padding-top: 7px; margin-top: 0; margin-bottom: 0;">
							<input type="checkbox"> <label>System &nbsp;</label>
							<input type="checkbox"> <label>User</label>
						</div>
					</div>

					<!-- Task Name -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="sorStatus" class="newton-label">Task Name</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<div class="dropdown" style="width: 100%;">
								<select class="dropdown-select form-control" ng-model="srSearch.srStatus"
									ng-options="s.name for s in srStatusList" ng-change=""
									style="width: 100%;"><option style="display:none" value=""></option></select>
							</div>
						</div>
					</div>

					<!-- Role -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="customerName" class="newton-label"">Role</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<div class="dropdown" style="width: 100%;">
								<select class="dropdown-select form-control" ng-model="srSearch.srStatus"
									ng-options="s.name for s in srStatusList" ng-change=""
									style="width: 100%;"><option style="display:none" value=""></option></select>
							</div>
						</div>
					</div>

					<!-- Workgroup -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="siteName" class="newton-label">Workgroup</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<div class="dropdown" style="width: 100%;">
								<select class="dropdown-select form-control" ng-model="srSearch.srStatus"
									ng-options="s.name for s in srStatusList" ng-change=""
									style="width: 100%;"><option style="display:none" value=""></option></select>
							</div>
						</div>
					</div>

					<!-- Assigned To -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="siteCity" class="newton-label">Assigned To</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<div class="dropdown" style="width: 100%;">
								<select class="dropdown-select form-control" ng-model="srSearch.srStatus"
									ng-options="s.name for s in srStatusList" ng-change=""
									style="width: 100%;"><option style="display:none" value=""></option></select>
							</div>
						</div>
					</div>

					<!-- Workcenter -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="siteState" class="newton-label">Workcenter</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<div class="dropdown" style="width: 100%;">
								<select class="dropdown-select form-control" ng-model="srSearch.siteState"
									ng-options="s.name for s in siteStateList" ng-change=""
									style="width: 100%;"><option style="display:none" value=""></option>
								</select>
							</div>
						</div>
					</div>

				</div>
				
					<!-- Middle Column -->
					<div class="col-md-3">
					
					
					<!-- Offer Services -->
					<div class="row margin-bottom-10px margin-top-20px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="siteCity" class="newton-label">Offer Services</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<div class="dropdown" style="width: 100%;">
								<select class="dropdown-select form-control" ng-model="srSearch.srStatus"
									ng-options="s.name for s in srStatusList" ng-change=""
									style="width: 100%;"><option style="display:none" value=""></option></select>
							</div>
						</div>
					</div>

					<!-- Request Type -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="sorId" class="newton-label">Request Type</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<div class="dropdown" style="width: 100%;">
								<select class="dropdown-select form-control" ng-model="srSearch.srStatus"
									ng-options="s.name for s in srStatusList" ng-change=""
									style="width: 100%;"><option style="display:none" value=""></option></select>
							</div>
						</div>
					</div>

					<!-- Order Type -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="srStatus" class="newton-label">Order Type</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<div class="dropdown" style="width: 100%;">
								<input type="checkbox"> <label>New Start &nbsp;</label>
								<input type="checkbox"> <label>MACD</label>
							</div>
						</div>
					</div>

					<!-- Request/Order ID -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="opportunityId" class="newton-label">Request/Order Id</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<input type="text" ng-model="srSearch.opportunityId"
								class="form-control">
						</div>
					</div>

					<!-- Customer Name -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="serviceName" class="newton-label">Customer Name</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<input type="text" ng-model="srSearch.opportunityId"
								class="form-control">
						</div>
					</div>

					<!-- Order Owner ATTUID -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-4 col-md-5 searchFieldLabel">
							<label for="serviceRegion" class="newton-label">Order Owner ATTUID</label>
						</div>
						<div class="col-lg-8 col-md-7" style="padding: 0px;">
							<input type="text" ng-model="srSearch.opportunityId"
								class="form-control">
						</div>
					</div>

				</div>

					<!-- Right Column -->
					<div class="col-md-6">

					<!-- Negotiated DD/ACDD Date -->
					<div class="row margin-bottom-10px margin-top-20px">
						<div class="col-lg-3 col-md-4 searchFieldLabel">
							<label for="srCreationDate" class="newton-label">Negotiated DD/ACDD</label>
						</div>
						<div class="col-lg-8 col-md-8" style="padding: 0px; display: inline-table;">
							<div class="col-md-6 newton-datepicker-from">
								<div class="input-group date" id="srCreationSDate"
									data-date="{{startDate}}" data-date-format="mm/dd/yyyy">
									<input type="text" id="srCreationStartDate"
										class="form-control" ng-model="srSearch.creation.sDate">
									<span class="input-group-addon add-on"><i
										class="fa fa-calendar"></i><span
										ng-click="pickSrCreationStartDate()"></span></span>
								</div>
							</div>
							<div class="col-md-6 newton-datepicker-to">
								<div class="input-group date" id="srCreationEDate"
									data-date="{{endtDate}}" data-date-format="mm/dd/yyyy">
									<input type="text" id="srCreationEndDate"
										class="form-control" ng-model="srSearch.creation.eDate">
									<span class="input-group-addon add-on"><i
										class="fa fa-calendar"></i><span
										ng-click="pickSrCreationEndDate()"></span></span>
								</div>
							</div>
						</div>
					</div>

					<div ng-show="wrongSrCreationStartDateEntered">
						<div class="row margin-bottom-10px margin-top-20px">
							<div class="col-md-3"></div>
							<div class="col-md-8" style="padding: 0px; margin: 0px;">
								<span style="color: red;">Start Date must be earlier
									than End Date</span>
							</div>
						</div>
					</div>

					<div ng-show="wrongSrCreationEndDateEntered">
						<div class="row margin-bottom-10px margin-top-20px">
							<div class="col-md-3"></div>
							<div class="col-md-8" style="padding: 0px; margin: 0px;">
								<span style="color: red;">End Date must be later than
									Start Date</span>
							</div>
						</div>
					</div>

					<!-- Actual Start Date -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-3 col-md-4 searchFieldLabel" style="padding-left: 0px;">
							<label for="srCompletionDate" class="newton-label">Actual Start Date</label>
						</div>
						<div class="col-lg-8 col-md-8" style="padding: 0px; display: inline-table;">
							<div class="col-md-6 newton-datepicker-from">
								<div class="input-group date" id="srCompletionSDate"
									data-date="{{startDate}}" data-date-format="mm/dd/yyyy">
									<input type="text" id="srCompletionStartDate"
										class="form-control" ng-model="srSearch.completion.sDate">
									<span class="input-group-addon add-on"><i
										class="fa fa-calendar"></i><span
										ng-click="pickSrCompletionStartDate()"></span></span>
								</div>
							</div>
							<div class="col-md-6 newton-datepicker-to">
								<div class="input-group date" id="srCompletionEDate"
									data-date="{{endtDate}}" data-date-format="mm/dd/yyyy">
									<input type="text" id="srCompletionEndDate"
										class="form-control" ng-model="srSearch.completion.eDate">
									<span class="input-group-addon add-on"><i
										class="fa fa-calendar"></i><span
										ng-click="pickSrCompletionEndDate()"></span></span>
								</div>
							</div>
						</div>
					</div>

					<div ng-show="wrongSrCompletionStartDateEntered">
						<div class="row margin-bottom-10px margin-top-20px">
							<div class="col-md-3"></div>
							<div class="col-md-8" style="padding: 0px; margin: 0px;">
								<span style="color: red;">Start Date must be earlier
									than End Date</span>
							</div>
						</div>
					</div>

					<div ng-show="wrongSrCompletionEndDateEntered">
						<div class="row margin-bottom-10px margin-top-20px">
							<div class="col-md-3"></div>
							<div class="col-md-8" style="padding: 0px; margin: 0px;">
								<span style="color: red;">End Date must be later than
									Start Date</span>
							</div>
						</div>
					</div>

					<!-- Expected End Date -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-3 col-md-4 searchFieldLabel">
							<label for="cpdd" class="newton-label">Expected End Date</label>
						</div>
						<div class="col-lg-8 col-md-8" style="padding: 0px; display: inline-table;">
							<div class="col-md-6 newton-datepicker-from">
								<div class="input-group date" id="srCpddSDate"
									data-date="{{startDate}}" data-date-format="mm/dd/yyyy">
									<input type="text" id="srCpddStartDate" class="form-control"
										ng-model="srSearch.cpdd.sDate"> <span
										class="input-group-addon add-on"><i class="fa fa-calendar"></i><span
										ng-click="pickSrCpddStartDate()"></span></span>
								</div>
							</div>
							<div class="col-md-6 newton-datepicker-to">
								<div class="input-group date" id="srCpddEDate"
									data-date="{{endtDate}}" data-date-format="mm/dd/yyyy">
									<input type="text" id="srCpddEndDate" class="form-control"
										ng-model="srSearch.cpdd.eDate"> <span
										class="input-group-addon add-on"><i class="fa fa-calendar"></i><span
										ng-click="pickSrCpddEndDate()"></span></span>
								</div>
							</div>
						</div>
					</div>

					<div ng-show="wrongSrCpddStartDateEntered">
						<div class="row margin-bottom-10px margin-top-20px">
							<div class="col-md-3"></div>
							<div class="col-md-8" style="padding: 0px; margin: 0px;">
								<span style="color: red;">Start Date must be earlier
									than End Date</span>
							</div>
						</div>
					</div>

					<div ng-show="wrongSrCpddEndtDateEntered">
						<div class="row margin-bottom-10px margin-top-20px">
							<div class="col-md-3"></div>
							<div class="col-md-8" style="padding: 0px; margin: 0px;">
								<span style="color: red;">End Date must be later than
									Start Date</span>
							</div>
						</div>
					</div>

					<!-- TTU Date -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-3 col-md-4 searchFieldLabel">
							<label for="cpdd" class="newton-label">TTU Date</label>
						</div>
						<div class="col-lg-8 col-md-8" style="padding: 0px; display: inline-table;">
							<div class="col-md-6 newton-datepicker-from">
								<div class="input-group date" id="srCpddSDate"
									data-date="{{startDate}}" data-date-format="mm/dd/yyyy">
									<input type="text" id="srCpddStartDate" class="form-control"
										ng-model="srSearch.cpdd.sDate"> <span
										class="input-group-addon add-on"><i class="fa fa-calendar"></i><span
										ng-click="pickSrCpddStartDate()"></span></span>
								</div>
							</div>
							<div class="col-md-6 newton-datepicker-to">
								<div class="input-group date" id="srCpddEDate"
									data-date="{{endtDate}}" data-date-format="mm/dd/yyyy">
									<input type="text" id="srCpddEndDate" class="form-control"
										ng-model="srSearch.cpdd.eDate"> <span
										class="input-group-addon add-on"><i class="fa fa-calendar"></i><span
										ng-click="pickSrCpddEndDate()"></span></span>
								</div>
							</div>
						</div>
					</div>

					<!-- Days Task(s) Overdue -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-3 col-md-4 searchFieldLabel">
							<label for="sorId" class="newton-label">Days Task(s) Overdue</label>
						</div>
						<div class="col-lg-5 col-md-4" style="padding: 0px;">
							<input type="text" ng-model="srSearch.sorId"
								class="form-control">
						</div>
						<div class="col-lg-3 col-md-4" style="padding: 0px;">
							<label style="padding-top: 7px;">&nbsp;&nbsp;(eg. 1-3 days)</label>
						</div>
					</div>

					<!-- Reason Code -->
					<div class="row margin-bottom-10px">
						<div class="col-lg-3 col-md-4 searchFieldLabel">
							<label for="srStatus" class="newton-label">Reason Code</label>
						</div>
						<div class="col-lg-7 col-md-5" style="padding: 0px;">
							<div class="dropdown" style="width: 100%;">
								<select class="dropdown-select form-control" ng-model="srSearch.sorStatus"
									ng-options="s.name for s in sorStatusList" ng-change=""
									style="width: 100%;"><option style="display:none" value=""></option></select>
							</div>
						</div>
					</div>

				</div>

				</div>
				
			</div> <!-- criteria -->

			<!-- Begin section for table results -->
			
			<!--
				Setup the arrow that controls the expansion of the criteria div
				Uses bootstrap data-toggle/data-target and angular's ng-show to determine if it should even be visible
				Arrow is now controlled by model state and no longer needs controller DOM manipulation via 	ng-click="updateSearchArrowIcon($event)"
			-->
			<a class="criteriaCollapser accordion-toggle"
				ng-show="shouldCollapserBeVisible('SR')"
				ng-click="resultsets.SR.isCriteriaCollapsed = !resultsets.SR.isCriteriaCollapsed"				
				title="Expand or collapse search criteria">
				<span class="icon">
					<i ng-class="(resultsets.SR.isCriteriaCollapsed) ? 'fa fa-arrow-down' : 'fa fa-arrow-up'"></i>
				</span>
			</a>
		</accordion>
				
		<div us-spinner="{radius:9, width:5, length: 12, corners: 1, top: '-15px;', left: 'auto', className: 'spinner'}"></div>
		
		<alert-with-html data-error-prefix="<strong>Error: </strong>"
			data-error-msg="resultsets.SR.searchRequestErrorMsg"
			data-error-msg-html="resultsets.SR.searchRequestErrorMsgHtml"></alert-with-html>

		<!--
			This table used to also have the table-bordered class but that caused only FireFox to draw the table
			with miscalculate the table widths causing a horizontal scrollbar to always appear and the table width
			to continually increase by a few pixels each time it was redrawn.  Rather than fix the table's code
			just take the class (which only seems to affect style) out.
		 -->
		<table
			class="table table-striped table-hover data-table"
			id="resultsTableSR" search-result-table="resultsSR"
			table-data="resultsets['SR'].resultData"
			fire-detail="getDetailsResult(orderType,id)">
		</table>
						
	</div> <!-- roundbox content -->

<!-- Modal - Error Message -->

<div class="modal fade" id="searchCriteriaAlertModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Search Criteria Error</h4>
			</div>
			<div class="modal-body">
				<p>Please Select Search Criteria values...</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</div>