<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="roundbox-outer collapsible">
			<div class="roundbox-title">
				<div class="buttons pull-right">
					<button title="Refresh" class="btn" id="refreshSubway" ng-click="refreshSubway()"	style="font-size: inherit; background-color: #fdfdfd;">
						<i class="fa fa-refresh"></i>
					</button>
				</div>
				<a id="efmsSrCollapsibleSubwayMap" data-target="#collapseOrdersSubwayMap" data-toggle="collapse"
					class="" ng-click="updateSearchArrowIcon($event)"> <span class="icon" style="cursor: pointer;"><i class="fa fa-arrow-right"></i></span>
				</a>
				<h5>Request Details for EFMS Service Request ID: {{efmsSrDetailsSummary.efmsSrId}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Customer Name:  {{efmsSrDetailsSummary.customer}}</h5>
			</div>

			<div class="in" id="collapseOrdersSubwayMap">
				<div class="roundbox-content nopadding">

					<iframe name="ordersSubwayMap" id="ordersSubwayMapIframe"
						style="width: 100%; height: 400px;"
						ng-src="{{trustSrc(efmsSrDetailsSummary.subwayMapUrl)}}"></iframe>

				</div>

			</div>
		</div>
	</div>
</div>


<div us-spinner="{radius:9, width:5, length: 12, corners: 1, top: '-15px;', left: 'auto', className: 'spinner'}"></div>


<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="roundbox-outer collapsible">
			<div class="roundbox-title">
				<a id="efmsSrCollapsibleOrderDetails" data-target="#collapseOrdersDetails" data-toggle="collapse"
					class="" ng-click="updateSearchArrowIcon($event)"> <span class="icon" style="cursor: pointer;"><i class="fa fa-arrow-right"></i></span>
				</a>
				<h5>Request Details for EFMS Service Request ID: {{efmsSrDetailsSummary.efmsSrId}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Customer Name:  {{efmsSrDetailsSummary.customer}}</h5>
			</div>

			<div class="in" id="collapseOrdersDetails">
				<div class="roundbox-content nopadding">

					<div class="row">

						<div class="col-md-6">
							<div class="roundbox-outer">
								<div class="roundbox-title">
									<h5>Key Request Information</h5>
								</div>

								<div class="roundbox-content">
								   									
									<table>
								       <tbody>
                                            <tr ng-repeat="description in efmsSrDetailsSummary.descriptionList">
                                                <td style="padding: 5px; font-weight:bold; text-align: right;">{{description.name}}:</td>
                                                <td style="padding: 5px;">{{description.value| date:'MM-dd-yyyy'}}</td>
                                            </tr>
                                         
                                       </tbody>
                                    </table>

								</div>
							</div>

						</div>

						<div class="col-md-6">
							<div class="roundbox-outer">
								<div class="roundbox-title">
									<h5>Request Hierarchy</h5>
								</div>

								<div class="roundbox-content">
									<div tree-view  tree-id="reqconnections" tree-model="reqconnections_treedata" data-template-url="/newtongui/app/details/views/detailsTree.html">  
									</div>							
								</div>
							</div>

						</div>

					</div>


					<div class="row">
			
	        			<div class="col-md-6 col-md-push-6"">
							<div class="roundbox-outer">
								<div class="roundbox-title">
									<h5>Milestone Summary</h5>
								</div>

								<div class="roundbox-content">
									<table class="table table-bordered">
							            <tr>
											<th
												ng-repeat="column in efmsSrProgressSummary.tableRows.rowMetaData.columnList">
												{{column.displayName}}</th>
										</tr>
										<tr ng-repeat="row in efmsSrProgressSummary.tableRows.rowValueList">
											<td
												ng-repeat="cellValue in efmsSrProgressSummary.tableRows.rowValueList[$index].cellValues">
												{{cellValue | date:'MM-dd-yyyy'}}</td>
										</tr>
									</table>
								</div>
							</div>

						</div>


					</div>


				</div>

			</div>
		</div>
	</div>